*.env
*.vscode


## API

api/**/__pycache__
api/images
api/models
api/config.json

## UI

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ui/node_modules
ui/.pnp
ui/.pnp.js

# testing
ui/coverage

# next.js
ui/.next/
ui/out/

# production
ui/build

# misc
ui/.DS_Store
ui/*.pem

# debug
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*

# vercel
ui/.vercel

# typescript
ui/*.tsbuildinfo
ui/next-env.d.ts
